.and-header{
    position: relative;
    &_content{
        height: 60px;
        max-height: 60px;
        background-color: #1C242B;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px;
        box-shadow: 0 -1em 1.2em rgba(208, 208, 208, 0.6);
        overflow: hidden;
        
        &_nav{
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                white-space: nowrap;

                li {
                    margin: 10px;
                    color: #2e4054a9;
                    font-size: 18px;
                    font-weight: bold;
                }
            
                li:last-child {
                    margin-right: 0;
                }
            
                li a {
                    text-decoration: none;
                    color: inherit;
                }
            
                li a.active {
                    border-bottom: 1px solid #2E4054;
                    color: #2E4054;
                }
            }
        }
    }
    &_menu{
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .and-header{
        &_content{
            height: 50px;
        }
        &_menu{
            position: absolute;
            display: none;
            top: 50px;
            height: calc(100vh - 50px);
            width: 100%;
            background-color: blue;
        }
    }
}

