.box {
  width: 100%;
  height: auto;
  display: inline-block;
  font-family: "eurostile", sans-serif;
  font-size: 16px;
}

.presentacion-titulo {
  min-width: 300px;
  padding: 0px 30px;
  text-align: center;
  vertical-align: inherit;
  margin-top: 80px;

  h1 {
    font-size: 3rem;
    color: #141c3a;
    font-weight: 800;
    margin-bottom: 20px;
    font-weight: 700;
  }

  span {
    font-size: 24px;
    color: #0a0a0ae6;
  }

  @media (min-width: 800px) and (max-width: 1100px) {
    h1 {
      font-size: 2.3rem;
    }
  }

  @media (max-width: 799px) {
    h1 {
      font-size: 2rem;
    }
  }
}

.presentacion-text {
  min-width: 300px;
  padding: 0px 15px;
  text-align: center;
  vertical-align: inherit;
  margin-bottom: 1.5rem;

  span {
    font-size: 1.4rem;
    color: #0a0a0ae6;
  }

  @media (min-width: 800px) and (max-width: 1100px) {
    span {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 799px) {
    span {
      font-size: 1.2rem;
    }
  }
}

.presentacion-panel {
  min-width: 300px;
  text-align: center;
  vertical-align: inherit;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px;

  .circle {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    border: solid #6e07f3 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 100%;
      height: 92%;
      width: 92%;
      object-fit: cover;
      user-select: none;
      border: solid #6e07f3 4px;
    }
  }

  @media (min-width: 800px) and (max-width: 1100px) {
    .circle {
      width: 180px;
      height: 180px;

      img {
        border: solid #6e07f3 3px;
      }
    }
  }

  @media (max-width: 799px) {
    .circle {
      width: 150px;
      height: 150px;

      border: solid #6e07f3 3px;

      img {
        height: 95%;
        width: 95%;
        border: solid #6e07f3 2px;
      }
    }
  }
}

.presentacion-infomacion {
    background-color: #6e07f3;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 2.3rem;
        width: 750px;
        text-align: center;
        color: #ffffff;
        margin: 0px 20px;
        display: inline-block;
        gap: 20px;

        h1 {
            margin: 130px 0px 10px 0px;
            font-size: 1.9rem;
            font-weight: 700;
        }

        h2 {
            line-height: 1.5;
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 350px;
        }
    }

    @media (max-width: 799px) {
        span h1 {
            font-size: 1.4rem;
            margin: 90px 0px 20px 0px;
        }

        span h2 {
            font-size: 1.2rem;
            margin-bottom: 230px;
        }
    }
}
