*{
    margin: 0;
    padding: 0;
}

.panel-cards{
    background-color: red;
    height: auto;
    display: flex;
    justify-content: center;


    .panel-card-box{
        position: relative;
        background-color: blue;
        margin: 30px;
        bottom: 150px;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        max-width: 90%;  

        min-width: 100px;
        height: auto; 
        margin: 0 auto;

        .panel-card-box-card{
            background-color: rgb(255, 255, 255);
            min-width: 100%;
            margin: 5px; 
            height: auto; /* o cualquier otra dimensión que prefieras */
            transition: all 0.3s ease; /* Añade una transición suave a cualquier cambio */
            will-change: transform; /* Optimiza para cambios de transformación */
        }
        


    }

}