*{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    overflow: auto;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(212, 232, 240, 0.5), 0 0 0 1px #E6ECF8;
    transition: all 0.2s;
    margin-bottom: 15px;
}

.box:hover{
    transform: scale(1.01);
}

.header{
    padding: 20px;
    font-size: 21px;   
    display: flex;
}

.icon{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(82, 82, 228);
}

.body{
    background-color: #ffffff;
    margin: 10px;
    border-radius: 3px;
    padding: 20px;
    font-size: 18px;
    box-shadow: 0 5px 5px 0 rgba(212, 232, 240, 0.5), 0 0 0 1px #E6ECF8;
}